/* --- Hide Arrows from Number Input Box ---
        /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.tooltip-inner {
    max-width: 300px;
    text-align: left;
    /* If max-width does not work, try using width instead */
    width: 750px;
}

container: 'body'
